<!--@defer (){
  <app-youtube-player id="fJO4CfhEUZ0"></app-youtube-player>
}-->

<!----
<div class="nav">
<ul>
 <li><a href="../Components/router-demo/router-demo.component.html" routerLink="Demo">=>router Demo</a></li>
<li><a href="../hello/hello.component.html" routerLink="hello">=>Hello images</a></li>
</ul>
</div>
<router-outlet></router-outlet>  

<!--Template Forms-->
 <!--<app-forms class="app"></app-forms> --

 <li class="nav-item" >
  <a href="../Components/lazy-demo/lazy-demo.component.html" routerLink="lazy-demo">=>router lazy-demo</a></li>
 <!---- <a class="nav-link" [routerLink]="['./lazy-demo']">
     Lazy Loading
  </a> -->

<app-reactive-forms></app-reactive-forms>  
<app-reqres></app-reqres>
<app-posts></app-posts> 

<!--observable-->
<!--<app-observable-demo></app-observable-demo>  -->

<!----
<div>
  <input type="number" [(ngModel)]="num1" placeholder="Enter number 1">
  <input type="number" [(ngModel)]="num2" placeholder="Enter number 2">
  <button (click)="addNumbers(num1, num2)">Add</button>
  <p *ngIf="result!==undefined">Result: {{ result }}</p>
</div>

-->
