<!--images link-->
<div class="multiple-designs">

    <div class="image">
    <img src="../assets/bali.jfif" width="350vh" height="250vh">
<h1>img1</h1></div>

<div class="image">  
<img src="../assets/maldives.jfif" width="350vh" height="250vh">
<h1>img2</h1></div>

<div class="image">
<img src="../assets/france.jfif" width="350vh" height="250vh">
<h1>img3</h1></div>
    
<div class="image">
<img src="../assets/ee.jpg" width="350vh" height="250vh">
<h1>img4</h1></div>

<div class="image">
<img src="../assets/p2.jfif" width="350vh" height="250vh">
<h1>img5</h1></div>

<div class="image">
<a href="D1.html">
<img src="../assets/dubai.jfif" width="350vh" height="250vh">
<h1>img6</h1></a></div>
<br>
<br>
<br>
</div>


<!--
    <button (click)="addNewPost()">Add New</button>
<ul>
    <li *ngFor="let post of posts">{{post.title}}</li>
</ul>
-->